@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Get</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 80%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 80%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        let map;
        var jsonInicio, jsonFinal;
        var x = false, y = false;

        function initMap() {
            const directionsRenderer = new google.maps.DirectionsRenderer();
            const directionsService = new google.maps.DirectionsService();
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 19.59761, lng: -99.18054 },
                zoom: 8,
            });            
            directionsRenderer.setMap(map);

            

            let infoWindow = new google.maps.InfoWindow({
                content: "Click en el mapa para agregar un punto de incio!",
                position: { lat: 19.59761, lng: -99.18054 },
            });

            infoWindow.open(map);

            //function calculateAndDisplayRoute(directionsService, directionsRenderer) {
            //    directionsService.route({
            //        origin:jsonFinal.latLng,
            //        destination: jsonFinal.latLng,
            //        travelMode: google.maps.TravelMode.DRIVING,                    
            //    });
            //    directionsService.route(request, function (result, status) {
            //        if (status == 'OK') {
            //            directionsRenderer.setDirections(result);
            //        }
            //    });
            //}

            function calcRoute() {
                var start = jsonInicio.latLng;
                var end = jsonFinal.latLng;
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: 'DRIVING'
                };
                directionsService.route(request, function (result, status) {
                    if (status == 'OK') {
                        directionsRenderer.setDirections(result);
                    }
                });
            }

           
            google.maps.event.addListener(map, 'click',
                 function (event) {                     
                     // Close the current InfoWindow.
                     infoWindow.close();
                     // Create a new InfoWindow.
                     infoWindow = new google.maps.InfoWindow({
                         position: event.latLng,
                     });
                     infoWindow.setContent(
                       JSON.stringify(event.latLng.toJSON(), null, 2)
                     );
                     infoWindow.open(map);
                     if (x) {
                         new google.maps.Marker({
                             position: event.latLng,
                             map: map,
                             title: "Final"
                         });
                         jsonFinal = { "Nombre": "Inicio", "latLng": event.latLng};
                         y = true;
                     }
                     else {
                         new google.maps.Marker({
                             position: event.latLng,
                             map: map,
                             title: "Inicio"
                         });
                         jsonInicio = { "Nombre": "Inicio", "latLng": event.latLng };
                         x = true;
                     }                     
                     if (x && y) {
                         calcRoute();
                     }
                 }
                 );
        }
    </script>
</head>
<body>
    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSKBDdPPlfca_zTwyxKiicRQn1qfgRjLw&callback=initMap&libraries=&v=weekly&sensor=false"
            async></script>

</body>
</html>